body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 25px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative; }

.navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem; }
        .navbar-toggler:hover, .navbar-toggler:focus {
          text-decoration: none; }
      
.navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        background-size: 100% 100%; }

.navbar-toggler-icon.fa {
            line-height: 1.2em;
            color: #fff;
            line-height: 34px;
            background-color: var(--primary-color);
            border-radius: 5px; }
          .navbar-toggler {
            padding: 0rem 0rem !important; }

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

li{
    text-decoration: none;
}

h1{
    font-size: 60px;
    margin: 0;
}


h2{
    font-size: 30px;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #42bc00;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #00bc00;
}

.button:active{
    background-color: #49862d;
    color: #4dbc00;
}

.socials{
    padding-bottom: 200px;
}

.logo{
    height: 60px;
    margin: 25px;
}

.social{
    margin: 20px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot{
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image{
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
    text-decoration: none;
    color: #00bc00;
}

a{
    text-decoration: none;
    color: white;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center; }
  
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem; }
  
  .theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 0; }
  
  .theme-switch input {
    display: none; }

    .mode-container {
        width: 24px;
        height: 24px;
        padding: 3px 0;
        margin-left: 20px; }
      
      .gg-sun {
        position: relative;
        transform: scale(var(--ggs, 1));
        height: 24px;
        background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
        border-radius: 100px;
        box-shadow: inset 0 0 0 2px;
        border: 6px solid transparent; }
      
      .gg-moon {
        overflow: hidden;
        position: relative;
        transform: rotate(-135deg) scale(var(--ggs, 1));
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-bottom: 2px solid transparent; }
      
      .gg-moon,
      .gg-moon:after {
        display: block;
        box-sizing: border-box;
        border-radius: 50%; }
      
      .gg-moon:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 18px;
        border: 2px solid transparent;
        box-shadow: 0 0 0 2px;
        top: 8px;
        left: 2px; }
      
      .gg-sun,
      .gg-sun:after,
      .gg-sun:before {
        box-sizing: border-box;
        display: block;
        width: 24px; }
      
      .gg-sun:after,
      .gg-sun:before {
        content: "";
        position: absolute;
        height: 2px;
        border-right: 4px solid;
        border-left: 4px solid;
        left: -6px;
        top: 5px; }
      
      .gg-sun:before {
        transform: rotate(-45deg); }
      
      .gg-sun:after {
        transform: rotate(45deg); }
      
      .mode-container i.gg-sun {
        display: none; }
      
      .mode-container i.gg-moon {
        display: block; }
      
      input:checked + .mode-container i.gg-sun {
        display: block; }
      
      input:checked + .mode-container i.gg-moon {
        display: none; }

@media only screen and (max-width: 1000px) 
{
    .hamburger{
        display: block;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        background-color: transparent;
        color: #00bc00;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end; 
    }

    ul{
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show{
        display: block;
    }

    nav{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        float: none;
        background-color: #2b2c38;
    }

    .logo{
        width: 100%;
        height: auto;
        max-width: 400px;
    }

        .nav-item {
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
            padding: 0 12px;
            transition: all 0.5s ease;
            position: relative;
            margin-bottom: -1px;
            flex: 1 1 auto;
        }

}